$primary-color:hsl(225, 100%, 94%);
$primary-color-1:hsl(245, 75%, 52%);

$secondary-color1:hsl(225, 100%, 98%);
$secondary-color2:hsl(224, 23%, 55%);
$secondary-color3:hsl(223, 47%, 23%);

$para-font-size:16px;

$weight1:500;
$weight2:700;
$weight3:900;
