@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');


body {
    background: $primary-color url('./img/pattern-background-desktop.svg') no-repeat;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


#main-card{
    background: white;
    max-width: 28rem;
}

.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

#plan{
    background-color: $secondary-color1;
    border-radius: 1rem;
}

.change-btn{
    color: $primary-color-1;
    text-decoration: underline;
}

#main-card{
    border-radius: 1rem;

    img{
        border-radius: 1rem 1rem 0 0;
        max-width: 100%;
    }

    #plan-heading{
        font-weight: $weight3;
    }

    #price{
        color: $secondary-color2;
    }
}

#card-content{
    p{
        font-size: $para-font-size;
    }
}

@media (max-width: 480px) {
    #main-card{
        max-width: 100%;
        margin-left:0;
    }

}